.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
._图片_ {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._线段 {
}
._连接 {
}
.form_hint {
  color:#999999;
}
.box_1 {
}
.line {
}
.label {
  font-size:14px;
  text-align:left;
}
.image {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.table {
}
.table_cell {
}
.horizontal_line {
}
.box_2 {
}
.box_3 {
}
.line1 {
}
.ellipse {
}
.box_11 {
}
.image1 {
  color:#000000;
}
.heading_11 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.icon {
}
.shape {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.label1 {
  font-size:14px;
  text-align:left;
}
._图片 {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.refs-chart-data {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.shape1 {
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.box_21 {
}
.ellipse1 {
}
.radio_button {
  text-align:left;
}
.form_disabled {
}
._默认样式 {
}
.table_cell1 {
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._水平线 {
}
._垂直线 {
}
._流程形状1 {
}
._文本段落1 {
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._图片1 {
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
._形状1 {
}
._文本段落2 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片2 {
  font-size:13px;
  color:#000000;
}
._文本框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._形状2 {
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0066;
}
.box_22 {
}
.shape2 {
  font-size:12px;
}
._表格 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._单元格 {
  font-size:13px;
  color:#000000;
}
._形状3 {
  font-size:13px;
  color:#000000;
}
textarea, select, input, button { outline: none; }
